<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-android-firebase-gradle-release"
        version="4.0.0">

    <name>cordova-android-firebase-gradle-release</name>
    <description>Cordova/Phonegap plugin for Android to align versions of the Firebase library components specified by other plugins to a specific version.</description>
    <author>Dave Alden</author>
    
    <engines>
      <engine name="cordova" version=">=8.0.0" />
        <engine name="cordova-android" version=">=7.0.0" />
    </engines>

    <platform name="android">
        <hook type="after_prepare" src="scripts/apply-changes.js" />
        <hook type="before_build" src="scripts/apply-changes.js" />
        <hook type="after_plugin_install" src="scripts/apply-changes.js" />

        <!-- BoM 28.3.0 -->
        <preference name="firebase-analytics" default="19.0.0" />
        <preference name="firebase-auth" default="21.0.1" />
        <preference name="firebase-config" default="21.0.0" />
        <preference name="firebase-crashlytics" default="18.2.0" />
        <preference name="firebase-database" default="20.0.1" />
        <preference name="firebase-firestore" default="23.0.3" />
        <preference name="firebase-functions" default="20.0.0" />
        <preference name="firebase-messaging" default="22.0.0" />
        <preference name="firebase-storage" default="20.0.0" />

        <framework src="cordova-android-firebase-gradle-release.gradle" custom="true" type="gradleReference" />
    </platform>

</plugin>
